extends layout

block content
	script(src='/public/javascripts/jqplot.donutRenderer.min.js')
	script(src='/public/javascripts/jqplot.pieRenderer.min.js')
	script(type='text/javascript')
		$(document).ready(function(){
			var tempUser = !{JSON.stringify(variable.user)};
			var content = !{JSON.stringify(variable.theContent)};
			LoadContentFunctions.initializeSingleContentPage(tempUser, content);
		});
	center
		h2 = title;
		div(class="mainDiv", id="mainDiv")
			center
				div(id="title")
				div(id="image")
				div(id="rating")
				div(id="breakdown")
						div(class="barContainer", id="barContainer")