extends layout

block content
	script(type='text/javascript')
		$(document).ready(function(){
			//Loads masonry
			$( '#container' ).masonry( { itemSelector: '.item', 
				columnWidth:20, 
				isFitWidth: true
				} );

			//Loads in content received from server
			theUser = !{JSON.stringify(variable.user)}; 
 
			$.getScript("public/javascripts/load_content.js", function(){
				loadInContent(theUser, $('#container'));
			});
			$.post("posts/likeContent", { id: 1, user: theUser.UserID } , function(return_data){
				alert(return_data.message);
			}, 'json');

			//Sets on click listener for like button of content
			$(document).delegate("div[id^='likeDiv']", "click", function() {
				var el = this;
				$.getScript("public/javascripts/load_content.js", function(){
					haveLikedOrDislikedObject(0, $(el).attr('name'), theUser);
				});
			});

			//Sets on click listener for dislike button of content
			$(document).delegate("div[id^='dislikeDiv']", "click", function() {
				var el = this;
				console.log('The name is: ' +$(el).attr('name'));
				$.getScript("public/javascripts/load_content.js", function(){
					haveLikedOrDislikedObject(1, $(el).attr('name'), theUser);
				});
			});
		});
	center
		div(id="container", style="position: relative;", class="masonry")