extends layout

block content
	script(src='/public/javascripts/jqplot.donutRenderer.min.js')
	script(src='/public/javascripts/jqplot.pieRenderer.min.js')
	script(type='text/javascript')
		$(document).ready(function(){
			var tempUser = !{JSON.stringify(variable.user)};
			LoadContentFunctions.initializeContentPage(tempUser);
		});
	center
		br
		div(id="loadMoreData", class="loadMoreData")
			p Load New Content
		div(id="reloadContent", class="loadMoreData")
			p Reload Content
		h3 Trending Content
		div(id="container", style="position: relative;", class="masonry")

		nav(id="page-nav")
			a(href="pages/2.html")