extends layout

block content
	script(src='/public/javascripts/newsfeed.js')
	script(type='text/javascript')
		$(document).ready(function(){
			var tempUser = !{JSON.stringify(variable.user)};
			NewsFeedFunctions.loadNewsFeed(tempUser);
		});
	center
		br
		div(class="mainDiv")
			div(id="container", style="position: relative; width: 100%;", class="masonry")
			nav(id="page-nav")
				a(href="pages/2.html")