doctype 5
html
	head
		link(rel='stylesheet', href='/public/stylesheets/stylesheet.css')
		script(src="public/javascripts/require.js")
		script(src='http://code.jquery.com/jquery-latest.js')
		script(src='/public/javascripts/jquery.masonry.js')
		link(rel='stylesheet', type='text/css', href='/javascripts/bootstrap/css/bootstrap.min.css')
	body
		center
			p Pofile page
			h1 #{username}