extends layout

block content
	script(type='text/javascript')
		$(document).ready(function(){
			var select = document.getElementById("categories"); 
			var users = !{JSON.stringify(variable.users)}; 
			for(var i = 0; i < users.length; i++) {
				var $newStuff = $('<div id="user"/>'
					+'<a href="/user/'+ users[i].Username +'">'+ users[i].Username +'</a></div>');
				$('#users').append($newStuff);
			}

			if(users.length >=50){
				var start = parseInt(!{JSON.stringify(variable.start)}); 
				start+=50;
				$('#users').append("<br><br>");
				$('#next').append('<b><a href="/users/'+start+'">Next 50</a></b><br><br>');
			}
		});		
	center
			div(class="mainDiv")
				h3= title
				div(id="users")
				div(id="next")